.Quotation {
  text-align: center;
  border: 3px solid white;
  margin: 10% 20%;
  padding: 1%;
  font-weight: 800;
  background-color: white;
}

.Display {
  display: flex;
  justify-content: space-between;
}

.para {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin-top: -9%;
}

@media (max-width: 600px){
  .Quotation {
    color: green;
    margin: 18% auto;
  }

  .para {
    margin-top: -15%;
  }
}
